<h1>Lista de Processos</h1>
 
<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Data</th>
    <th>Assunto</th>
    <th></th>
    <th></th>
  </tr>
 
<% @causes.each do |cause| %>
  <tr>
    <td><%= cause.name %></td>
    <td><%= cause.distribution_date %></td>
    <td><%= cause.subject.name %></td>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cause_path(cause.id), :class => 'btn' %>
    </td>
    <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cause_path(cause),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("Você tem certeza?", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
 
<br />